<%- model_class = Interval.new.class -%>
<div class="page-header">
  <h1>todays intervals</h1>
</div>

<%= render :partial => 'list' %>

<% if @is_working %>
	<%= link_to 'stop working', stop_interval_path, :method => :put, :class => 'btn btn-primary' %>
<% else %>
	<%= link_to 'start working', start_interval_path, :method => :post, :class => 'btn btn-primary' %>
<% end %>

<% content_for :sidebar do %>
  <div class="control-group">
    worktime:
    <div class="controls">
      <%= format_safe_duration nil,@worktime %>
    </div>
  </div>
  <div class="control-group">
    overtime:
    <div class="controls">
      <%= format_duration calcuate_hours_mins_secs @overtime %>
    </div>
  </div>
  <div class="control-group">
    worked time:
    <div class="controls">
      <%= format_safe_duration nil,@worked_time %>
    </div>
  </div>
  <div class="control-group">
    time to work with overtime:
    <div class="controls">
      <%= format_safe_duration 'it is enough',@time_to_work %>
    </div>
  </div>
  <div class="control-group">
    time to work without overtime:
    <div class="controls">
      <%= format_safe_duration 'it is enough',@time_to_work_without_overtime %>
    </div>
  </div>
  <div class="control-group">
    finishing time:
    <div class="controls">
      <%= if @time_to_work <= 0 then 'now' else format_datetime_depending_on_date @finishing_time end %>
    </div>
  </div>
  <div class="control-group">
    finishing time without overtime:
    <div class="controls">
      <%= if @time_to_work_without_overtime <= 0 then 'now' else format_datetime_depending_on_date @finishing_time_without_overtime end %>
    </div>
  </div>
<% end %>